{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="row">
    <div class="col-md-12">
      <form action="." class="form-horizontal" method="POST" id="post-form">
        {% csrf_token %}
        <div class="text-center">
          <h3>Enter the youtube URL to convert make a supercut video</h3>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="col-md-6 col-md-offset-3" id="result"></div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <input id="youtubeUrl" type="url" name="url" class="form-control input-lg" placeholder="e.g. https://www.youtube.com/watch?v=MN6YOAYb_M0" onclick="" >
          </div>
        </div>
        <div class="text-center">
          <button id="convertButton" type="submit" class="btn btn-primary btn-lg convert">Convert</button>
        </div>
      </form>
    </div>
  </div>


{% endblock %}

{%include 'ajax_response.html' %}